/* Custom dark theme styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode header {
  background-color: #1e1e1e;
  color: #ffffff; /* Change text color to white in dark mode */
}

body.dark-mode .nav-links a {
  color: #e0e0e0; /* Ensure links in the header change color too */
}

body.dark-mode .nav-links a:hover {
  color: #00a8ad; /* Link hover color in dark mode */
}

body.dark-mode .btn,
body.dark-mode .read-more,
body.dark-mode .social-button {
  background-color: #00a8ad;
  color: #ffffff;
}

body.dark-mode .btn:hover,
body.dark-mode .read-more:hover,
body.dark-mode .social-button:hover {
  background-color: #018c8c20; /* Darker shade for hover effect */
}

body.dark-mode .card {
  background-color: #2a2d33;
}

body.dark-mode .progress {
  background-color: #00a8ad;
}

body.dark-mode .footer {
  background-color: #1e1e1e;
}

body.dark-mode .footer-links a {
  color: #e0e0e0;
}

body.dark-mode .footer-links a:hover {
  color: #00a8ad;
}

/* About Me section in dark mode */
body.dark-mode .about-me-section {
  background-color: #1e1e1e;
  color: #ffffff; /* Change text color to white in dark mode */
}

body.dark-mode .about-me-section h2 {
  color: #ffffff; /* Ensure heading color is white */
}

/* Skills section in dark mode */
body.dark-mode #my-skills {
  background-color: #1e1e1e; /* Background color for the skills section */
  color: #ffffff; /* Text color for the skills section */
}

body.dark-mode .skills-title {
  color: #ffffff; /* Ensure title color is white */
}

body.dark-mode .skills-container {
  background-color: #1e1e1e; /* Background color for the container */
}

body.dark-mode .skill {
  border-bottom: 1px solid #2a2d33; /* Add border color for skill items */
}

body.dark-mode .progress-bar {
  background-color: #2a2d33; /* Background color of progress bars */
}

body.dark-mode .progress {
  background-color: #00a8ad; /* Color of progress bars */
}
/* Initial state (light mode) */
#toggle-dark-mode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000; /* Black text for light mode */
  padding: 10px;
  transition: color 0.3s;
}

/* Dark mode state */
body.dark-mode #toggle-dark-mode {
  color: #fff; /* White text for dark mode */
}

#toggle-dark-mode:hover {
  color: #008a92; /* Adjust hover color as needed */
}

/* Dark mode state hover */
body.dark-mode #toggle-dark-mode:hover {
  color: #00a8ad; /* Adjust hover color for dark mode */
}
#toggle-dark-mode i {
  font-size: 24px; /* Change the size as needed */
}
#toggle-dark-mode {
  padding: 10px; /* Adjust padding to increase button size */
  font-size: 24px; /* Increase the font size if you want to scale the whole button */
}
